<p>Customer List</p>

<!-- <ul class="customers">
    <li *ngFor="let customer of customers">
        {{customer.first_name}}
    </li>
</ul> -->

<i nz-icon nzType="user" nzTheme="outline"></i>
<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th [nzSortFn]="sortFn" >First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>
        <!-- [nzFilters]="listOfFilter" [nzFilters]="filterFn" -->
        Gender</th>
        <th>Employed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.first_name}}</td>
        <td>{{data.last_name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.gender}}</td>
        <td>{{data.employed}}</td>

      </tr>
    </tbody>
  </nz-table>

 
  <!-- <nz-table #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <!-- <th
          *ngFor="let column of listOfColumns; trackBy: trackByName"
          [(nzSortOrder)]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.first_name }}</td>
        <td>{{ data.second_name }}</td>
        <td>{{ data.address }}</td>
      </tr>
    </tbody>
  </nz-table> -->