// custom styling

// Primary colour to #F5a624
// Info colour & processing colour to @orange-6
// Layout header background & table header background to #272727
// Table header colour to #fafafa

.primary-color {
    color:#F5a624;
}