
// custom styling

// Primary colour to #F5a624
// Info colour & processing colour to @orange-6
// Layout header background & table header background to #272727
// Table header colour to #fafafa



$theme: (
  "primary": green,
);

h1{
  font-style: italic;
}

th{
  color: #fafafa;
}


.loo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 30px 16px 0;
    float: left;
  }

  .header-menu {
    line-height: 64px;
  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  nz-layout {
    background:#272727
  }

  
/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.css";

// @import "~ng-zorro-antd/ng-zorro-antd.less";


