
<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>    
        <a routerLink ="/" >Home</a>
      </li>
      <li nz-menu-item>    
        <a routerLink = "/customers" >Customer</a>
      </li>
      <li nz-menu-item>    
        <a routerLink = "/employees" >Employees</a>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="Home">
          <ul>
            <li nz-menu-item>        
              <a routerLink = "/home/customers" routerLinkActive="active">Customer</a>
            </li>
            <li nz-menu-item>        
              <a routerLink = "/home/employees" routerLinkActive="active">Employees</a>
            </li>
          </ul>
        </li>
        
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>


