
<h1>home works!</h1>

<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>    
        <a routerLink ="/home" routerLinkActive="active">Home</a>
      </li>
      <li nz-menu-item>    
        <a routerLink = "/home/customers" routerLinkActive="active">Customer</a>
      </li>
      <li nz-menu-item>    
        <a routerLink = "/home/employees" routerLinkActive="active">Employees</a>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
          <ul>
            <li nz-menu-item nzSelected><a routerLink ="/home" routerLinkActive="active">Home</a></li>
            <li nz-menu-item>Customers</li>
            <li nz-menu-item>Employees</li>
          </ul>
        </li>
        
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>


